@model Model.Entities.Album

@{
    ViewBag.Title = "AlbumSummary";
}


<hr>

<div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" alt="@Html.DisplayFor(model => model.Title)" src="http://placehold.it/700x300">
                </a>
            </div>
            <div class="col-md-5">
                <h3>@Html.DisplayFor(model => model.Title)</h3>
                <h4>@Html.DisplayFor(model => model.Artist)</h4>
                <p>Jeden z albumów zespołu @Html.DisplayFor(model => model.Artist) o dumnej
				nazwie @Html.DisplayFor(model => model.Title).</p>
                <p>@if (Request.IsAuthenticated)
								{
									using (Html.BeginForm("AddToCart", "Cart"))
									{
										@Html.HiddenFor(x => x.AlbumId)
										@Html.Hidden("returnUrl", Request.Url.PathAndQuery)<input type="submit" class="btn btn-info" value="+ Dodaj do koszyka"/>
									}
							}
							else
							{
								<span class="label label-danger">Zaloguj się aby kupić album!</span>
							}    
										</p>
            </div>
        </div>

<hr>

<!--<table class="table-hover">
    <tr>
        <th>
            AlbumUrl
        </th>
        <th>
            Genre
        </th>
        <th>
            Artist
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
    </tr>
    <tr>
        <td>
            <img alt="@Html.DisplayFor(model => model.Title)" src="@Html.DisplayFor(model => model.AlbumUrl)" />
        </td>
        <td>
            @Html.DisplayFor(model => model.Genre)
        </td>
        <td>
            @Html.DisplayFor(model => model.Artist)
        </td>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
        <td class="right">

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("AddToCart", "Cart"))
                {
                    @Html.HiddenFor(x => x.AlbumId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)<input type="submit" class="btn btn-info" value="+ Dodaj do koszyka"/>
                }
            }
            else
            {
                <span class="label label-danger">Zaloguj się aby dodać album do koszyka!</span>
            }    
                
            
            
        </td>


    </tr>
</table> -->